.catcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }

  .catimg{
    height: 200px;
  }

  .catcard{
    text-align: center;
    height: 300px;
  }

.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bolder;
}